@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ffffff;
  color: #000000;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}
.img {
  width: 100%;
  display: block;
}

/* Section */
.section {
  width: 100%;
  padding: 30px 20px;

}
.section > div{
  max-width: 1210px;
  margin: auto;
}
.section-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}

.section-header h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-header h4 {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .section {
    margin: 0 auto;
    padding: 100px 80px;
  }
  .section-header {
    gap: 28px;
    margin-bottom: 60px;
  }
  .section-header h3 {
    font-size: 30px;
  }
  .section-header h4 {
    font-size: 18px;
  }
}

.header {
  background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/header-bg-image.jpeg') center/cover no-repeat;
  color: #ffffff;
  width: 100%;

  margin: 0 auto;
  padding-bottom: 10px;
}

.header-info {
  background: #ffd540;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
  text-align: center;
  flex-wrap: wrap;
  gap: 6px;
}

.header-info span {
  padding: 4px;
  border-radius: 40px;
  background: #000000;
  color: #ffffff;
}

.header-info img {
  width: 20px;
  height: 20px;
}

.header-contact-us {
  display: none;
}
.header-hire {
  padding: 4px 12px;
  border-radius: 40px;
  background: #a41bd4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-right: 38px;
}

.header-phone img {
  width: 28px;
  height: 28px;
}
.header-phone {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.nav {
  background: #0909094d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 100px;
  padding: 8px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-container i {
  font-size: 26px;
}
.logo-container img {
  width: 30px;
  height: 30px;
}
.nav-logo {
  display: none;
}

.nav-links {
  display: none;
}
.nav-link a {
  color: #ffffffb2;
}
.nav-link {
  font: 20px;
  font-weight: 500;
}

.nav-btn-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.call-btn {
  width: 78px;
  height: 78px;
}

.free-trial-btn {
  border: 3px solid #ffc700;
  background: #ffd540;
  color: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
}
.nav-btn-container .parallelogram-btn {
  display: inline-block;
  transform: skewX(-10deg); /* Adjust the angle as desired */
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
  font-family: Arial, sans-serif; /* Set the desired font family */
  border: 3px solid #00000014;
  /* background:url('/assets/images/buttonsvg.svg'); */
}
.nav-btn-container .parallelogram-btn span {
  display: inline-block;
  transform: skewX(10deg); /* Reverse the skew angle */
}

.parallelogram-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:url('/assets/images/buttonsvg.svg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity as desired */
  z-index: 0; /* Add z-index */
}
.header-main-container {
    /* background: url('/assets/images/bg-hero-service.png'); */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}
.absolute-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.header-main-container-text {
  text-align: center;
}
.header-text {
  display: flex;
  flex-direction: column;
}
.header-text h2 {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
}
.header-text h2 span {
  color: #ffc42e;
}

.header-text h3 {
  font-family: Oswald;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: #ffc42e;
}

.header-main-container-text p {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  margin-top: 50px;
}
.header-main-container-text button {
  background: #ffc42e;
  color: #171717;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 600;
  margin-top: 42px;
  box-shadow: 3px 3px white;
}
.header-main-container-text h5 {
  margin-top: 20px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
}

.header-rating {
  display: none;
}

.header-single-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.header-single-rating p {
  text-align: center;
}
.all-ratings {
  display: flex;
  gap: 8px;
}

.all-ratings i {
  color: #fcd34d;
}

.mobile-header-rating {
  background: #ffffff;
  padding: 20px;
}
.mobile-header-rating-container {
  background: linear-gradient(
    115.73deg,
    rgba(217, 217, 217, 0.11) 1.11%,
    rgba(115, 115, 115, 0.11) 100%
  );
  color: #2a2a2a;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 9px;
  border: 1px solid #ffffff33;
}

.mobile-single-rating {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.mobile-single-rating span {
  background: #fcd34d;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mobile-single-rating i {
  font-size: 20px;
  color: #ffffff;
}
.mobile-header-rating-container hr {
  border: 1px solid #eeeeee;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
}
.mobile-single-rating h4 {
  font-size: 14px;
  font-weight: 500;
}

.absolute-main-img {
  position: relative;
  height: 360px;
  z-index: 10;
}

.absolute-html-img {
  position: absolute;
  right: 10%;
  top: 40%;
  width: 156px;
  height: 102px;
}
.absolute-poker-img {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 54px;
  height: 54px;
}
.absolute-small-poker-img {
  position: absolute;
  right: 100px;
  top: 80%;
  width: 45px;
  height: 45px;
}
.absolute-html-2-img {
  position: absolute;
  top: 70%;
  left: 0%;
  width: 360px;
  height: 80px;
}

@media screen and (min-width: 1024px) {
  .header-contact-us {
    background: #22222280;
    display: flex;
    justify-content: end;
    padding: 13px 100px 13px 0;
  }

  .nav {
    padding: 16px 30px;
  }

  .logo-container {
    display: none;
  }
  .nav-logo {
    display: block;
    height: 34px;
  }

  .call-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .mobile-header-rating {
    display: none;
  }

  .header-rating {
    border-radius: 176px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      115.73deg,
      rgba(217, 217, 217, 0.11) 1.11%,
      rgba(115, 115, 115, 0.11) 100%
    );
    display: flex;
    justify-content: space-between;
    padding: 38px 150px;
    margin: 20px 0;
  }

  .header-info {
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
  }
  .header-info img {
    width: 30px;
    height: 30px;
  }
  .header-main-container {
    padding: 64px 82px 84px 100px;
    flex-direction: row;
  }

  .absolute-main-img {
    height: 600px;
    left: 10%;
  }

  .absolute-html-img {
    right: 0%;
    top: 40%;
    width: 250px;
    height: 160px;
  }
  .absolute-poker-img {
    right: 0%;
    top: 0%;
    width: 153px;
    height: 153px;
  }
  .absolute-small-poker-img {
    right: 20%;
    top: 80%;
    width: 90px;
    height: 72px;
  }
  .absolute-html-2-img {
    top: 80%;
    left: 10%;
    width: 360px;
    height: 80px;
  }

  .header-main-container-text {
    max-width: 45%;
    text-align: left;
  }

  .header-text h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    order: 1;
  }

  .header-text h3 {
    font-size: 34px;
    font-weight: 500;
    line-height: 42px;
    order: 2;
  }
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  row-gap: 24px;
}

.sponsors-list img {
  max-height: 40px;
}
@media screen and (min-width: 1024px) {
  .sponsors-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.product-insight {
  width: 100%;
}

.contact-us {
  /* background: #f4f7fb; */
  display: grid;
  align-items: center;
  gap: 24px;
}

.contact-us-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-us-info h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.contact-us-info h4 {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
  text-align: left;
}
.contact-us-info ul {
  display: flex;
  flex-direction: column;
  gap: 14.33px;
}
.contact-us-info li {
  display: flex;
  gap: 14.33px;
  align-items: center;
}
.contact-us-info li p {
  font-size: 14px;
  font-weight: 400;
}

.contact-us-info li p span {
  font-weight: 600;
}

.contact-us-form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 1.19px 11.94px -1.19px #00000029;
  max-width: 400px;
  margin: 0 auto;
}

.contact-us-form input,
.contact-us-form textarea {
  padding: 8px 20px;
  border-radius: 9px;
  color: #313030;
  border: 1px solid #d0d5dd;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  resize: none;
}

.contact-us-form input::-webkit-outer-spin-button,
.contact-us-form ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-us-form input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.contact-us-form-checkbox {
  display: flex;
  gap: 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.contact-us-form-checkbox a {
  color: #0092e5;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}
.contact-us-form button {
  background: #0092e5;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 28px;
  border-radius: 6px;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
  .contact-us-info h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
  }
  .contact-us-info li p {
    font-size: 14px;
  }
  .contact-us-form {
    gap: 19px;
    border-radius: 25.07px;
    padding: 36px 30px;
    max-width: 600px;
  }
  .contact-us-form input,
  .contact-us-form textarea {
    padding: 14px 20px;
    font-size: 17px;
  }
}

.choose-section {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.choose-section img {
  width: 100%;
}

.choose-text h4 {
  font-size: 20px;
  font-weight: 700;
}
.choose-text p {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}
@media screen and (min-width: 1024px) {
  .choose-section {
    grid-template-columns: 1fr 1fr;
  }
  .section .choose-section:nth-child(odd) .choose-text {
    order: 2;
  }
  .section .choose-section:nth-child(odd) img {
    order: 1;
  }

  .section .choose-section:nth-child(even) .choose-text {
    order: 1;
  }
  .section .choose-section:nth-child(even) img {
    order: 2;
  }
  .choose-text h4 {
    font-size: 28px;
  }
  .choose-text p {
    font-size: 16px;
  }
}
.apps {
  background: #f4f7fb !important;
}

.cross-platform {
  display: grid;
  gap: 24px;
  max-width: 1210px;
  margin: auto;
}
.cross-platform-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.cross-platform-info h5 {
  font-size: 24px;
  font-weight: 700;
}
.cross-platform-info p {
  font-size: 14px;
  font-weight: 400;
}

.cross-platform-apps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.platform-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 30px 20px;
  gap: 30px;
  border-radius: 16px;
}

.platform-app-title {
  display: flex;
  gap: 15px;
  align-items: center;
}

.platform-app-title span {
  background: #f3faff;
  border-radius: 6px;
  padding: 16px 12px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform-app-title span img {
  width: 38px;
  height: 38px;
}
.platform-app-title span i {
  font-size: 38px;
  color: #0092e5;
}

.platform-app-title h5 {
  font-size: 20px;
  font-weight: 600;
}
.platform-app-desc h5 {
  display: none;
}

.platform-app p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.platform-app img {
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .cross-platform {
    grid-template-columns: 35% 65%;
    align-items: center;
  }
  .cross-platform-info {
    text-align: left;
  }
  .platform-app {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 40px;
  }

  .platform-app-title span {
    width: 100px;
    height: 100px;
  }

  .platform-app-title span img {
    width: 64px;
    height: 64px;
  }
  .platform-app-title span i {
    font-size: 64px;
  }
  .platform-app p {
    text-align: left;
  }
  .platform-app-title h5 {
    display: none;
  }
  .platform-app-desc {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .platform-app-desc h5 {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }
}

.section-story {
  background: #f4f7fb;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  border-radius: 16px;
  border: 3px solid #0092e566;
}
.desktop.story-header {
  display: none;
}

.story-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.story-header h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.story-header h4 {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}

.story-subsection {
  background: #ffffff;
  padding: 40px 20px 42px 20px;
  border-radius: 16px;
  border: 0.61px solid #ffffff;
}
.story-subsection.texas {
  background: #000000;
  color: #ffffff;
}
.story-img {
  width: 100%;
}

.story-grid {
  display: grid;
  gap: 23px;
}

.story-subsection-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.story-subsection-text h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28.4px;
  text-align: center;
}

.story-subsection-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.story-subsection-text button {
  background: #0092e5;
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 0px #ffffff4d inset;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .mobile.story-header {
    display: none;
  }
  .desktop.story-header {
    display: flex;
    margin-bottom: 20px;
  }

  .story-header h3 {
    font-size: 32px;
  }
  .story-header h4 {
    font-size: 18px;
  }

  .story-subsection.texas {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
  }

  .story-grid {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .story-subsection-text {
    gap: 30px;
    align-items: start;
  }

  .story-subsection-text h4 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }

  .story-subsection-text p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  .story-subsection-text button {
    font-size: 20px;
  }
}

.poker-script {
  display: grid;
  gap: 24px;
  align-items: center;
}

.poker-script-text,
.poker-text-main,
.poker-text-sub {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}

.poker-text-main span {
  background: #f5f3ff;
  color: #0092e5;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
}

.poker-text-main h4 {
  font-size: 24px;
  font-weight: 700;
}

.poker-text-sub p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #313030;
}
.poker-text-sub span {
  font-size: 12px;
  font-weight: 400;
  color: #0092e5;
}

.poker-script img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .poker-script {
    grid-template-columns: 35% 65%;
    gap: 0;
  }
  .poker-script-text,
  .poker-text-main,
  .poker-text-sub {
    gap: 28px;
    align-items: start;
    text-align: left;
  }

  .poker-text-main h4 {
    font-size: 30px;
  }
  .poker-text-sub p {
    font-size: 18px;
    line-height: 28px;
  }
  .poker-text-sub span {
    font-size: 14px;
  }
}

.poker-software-info {
  background: #f2f2f2;
}
.poker-software-info-list {
  display: grid;
  gap: 24px;
}

.info-card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 24px;
  border-radius: 12px;
}

.info-card img {
  width: 68px;
  height: 68px;
}

.info-card-text h5 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #0092e5;
}
.info-card-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .poker-software-info-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .poker-software-info-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .info-card {
    padding: 40px 30px;
    gap: 40px;
    border-radius: 12px;
  }
  .info-card img {
    width: 96px;
    height: 96px;
  }

  .info-card-text h5 {
    font-size: 24px;
  }
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.single-customer {
  position: relative;
  width: 215px;
  height: 387px;
}
.single-customer img {
  width: 100%;
  height: 100%;
}

.customer-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 12px;
  padding: 12px;
}
.customer-name h4 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}

.customer-name p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}
.customer-info button {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 34px;
  height: 34px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.customer-info button i {
  font-size: 14px;
}

.customers-btn-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.customer-btn {
  padding: 9px;
  border-radius: 6px;
  border: 1px solid #0092e5;
  background: transparent;
  font-size: 20px;
  color: #0092e5;
}
.customer-btn.active {
  background: #0092e5;
  color: #ffffff;
}

.all-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  text-align: center;
  color: #0092e5;
  margin-top: 24px;
}

.all-reviews img {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 1024px) {
  .customers-btn-container {
    display: none;
  }
  .customer-list {
    flex-direction: row;
    flex: 1 1 0px;
    gap: 60px;
  }

  .single-customer {
    position: relative;
    width: auto;
    height: auto;
  }
  .customer-info {
    border-radius: 20px;
    padding: 38px;
  }

  .customer-name h4 {
    font-size: 18px;
  }

  .customer-name p {
    font-size: 14px;
  }
  .customer-info button {
    width: 50px;
    height: 50px;
  }
  .customer-info button i {
    font-size: 20px;
  }

  .all-reviews {
    font-size: 16px;
    font-weight: 600;
    margin-top: 46px;
  }
}

.section-brands {
  width: 100%;
  padding: 30px 20px;
  background: #f9f9f9;
}
.brands-heading {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 24px;
  color: #171717;
}
.brands-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.brands-list img {
  max-height: 50px;
}
/* .encryption-section {
  background: #f4f7fb;
  padding: 30px 20px;
} */
.about-img {
  width: 100%;
  border: 1.5px solid #747474;
  border-radius: 16px;
}

@media screen and (min-width: 1220px) {
  .brands-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .section-brands {
    margin: 0 auto;
    padding: 50px 80px;
  }
  .brands-heading {
    font-size: 18px;
    letter-spacing: 0.5;
    margin-bottom: 60px;
  }

  .brands-list img {
    max-height: 91px;
  }

  .encryption-section {
    margin: 0 auto;
    padding: 80px 135px;
  }
  .about-img {
    border: 8px solid #747474;
    border-radius: 40px;
  }
}

.technology-list {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}
.technology {
  min-width: 162px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 15px 30px;
  gap: 15px;
  border: 1px solid #dee6f0;
}
.technology img {
  width: 101px;
  height: 40px;
}
.technology .line {
  border: 1px solid #dee6f0;
  width: 100%;
  max-width: 160px;
}

.technology span {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .technology-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .technology {
    padding: 40px 30px;
    gap: 30px;
  }

  .technology img {
    width: 200px;
    height: 100px;
  }
  .technology span {
    font-size: 20px;
  }
  .technology .line {
    max-width: 362px;
  }
}

.testimonials {
  background: #f4f7fb;
}

.testimonial-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  gap: 30px;
  border-radius: 12px;
  background: #ffffff;
}

.testimonial-info img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.testimonial-info h5 {
  font-size: 16px;
  font-weight: 600;
}
.testimonial-info span {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 28px;
}
.testimonial-text i {
  color: #0092e5;
  font-size: 30px;
}
.testimonial-info h5 {
  font-size: 18px;
  font-weight: 600;
}
.testimonial-info span {
  font-size: 18px;
  font-weight: 400;
  color: #313030;
}

.testimonial-btn-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.testimonial-btn {
  padding: 9px;
  border-radius: 6px;
  border: 1px solid #0092e5;
  background: transparent;
  font-size: 20px;
  color: #0092e5;
}
.testimonial-btn.active {
  background: #0092e5;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .testimonial-grid {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 60px;
  }
  .testimonial {
    flex-direction: row;
    align-items: flex-start;
  }
}

.coming-soon {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.coming-soon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #dee6f0;
}
.coming-soon-card img {
  width: 100px;
  height: 100px;
}
.coming-soon-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.coming-soon span {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}

@media screen and (min-width: 1024px) {
  .coming-soon {
    flex-direction: row;
  }
  .coming-soon-card {
    padding: 40px 30px;
    gap: 40px;
  }
  .coming-soon-card h3 {
    font-size: 24px;
  }
  .coming-soon span {
    font-size: 16px;
  }
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
  color: #ffffff;
  padding: 40px 20px;
  gap: 30px;
  border-radius: 16px;
}
.demo h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
}
.demo-btn {
  background: #0092e5;
  color: white;
  padding: 14px 28px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .demo {
    padding: 80px 60px;
    gap: 60px;
  }
  .demo h4 {
    font-size: 32px;
    line-height: 43.58px;
  }
}

.faq {
  background: #f4f7fb;
}
.faq-btn-container {
  display: none;
  justify-content: center;
  align-items: center;
}
.faq-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #dee1e5;
  overflow: hidden;
}

.faq-btn {
  padding: 14px 22px 14px 22px;
  background: #dee1e5;
  color: #313030;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  cursor: pointer;
}
.faq-btn.active {
  background: #0092e5;
  color: #ffffff;
}

.faq-questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faqs-select select {
  border: 1px solid #c7ebff;
  width: 100%;
  color: #0092e5;
  font-size: 16px;
  padding: 14px 22px;
  border-radius: 10px;
  margin-bottom: 24px;
  outline: #0092e5;
}

.question {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  gap: 32px;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  box-shadow: 12px 12px 24px 0px #00000008;
}

.question-title {
  display: flex;
  justify-content: space-between;
}
.question-title h4 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.question-btn {
  font-size: 32px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.question-btn span {
  border: none;
}
/* hide text */
.question-answer {
  display: none;
  font-size: 14px;
  font-weight: 400;
}
.show-text .question-answer {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}


/*New FAQ CSS*/

.faq > .section-header > h4{

  color: var(--Paragraph, #313030);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
  margin-bottom: 10px;
}

.faq > .section-header > h3{

  color: var(--Text, #000);
  text-align: center;
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  align-self: stretch;
}

.section-container-ad{
  background: url(/assets/images/ActionBannerClicktoAction41.png) lightgray 50% / cover no-repeat;
  width: 100%;
  height: 550px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.small-green-container{
  width: 1230px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 2px solid #03B86F;
  background: linear-gradient(90deg, #027748 0%, #03AB67 100%);
  display: flex;
  position: relative;
}

.text-section{
  padding: 60px;
  gap: 150px;
}

.text-section > h3{
  color: #FFF;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 487px;
  margin-bottom: 10px;
}

.text-section > h4{
  color: #FFC721;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 487px;
  margin-bottom: 20px;
}

.text-section > a > button{
  display: flex;
  width: 165px;
  height: 55px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #F5F3FF;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.20);
}

.absolute-ad-img {
  position: absolute;
  left: 60%;
  top: 42.5%;
  width: 524px;
  height: 304px;
  flex-shrink: 0;
}

.absolute-ad-img2 {
  position: absolute;
  left: 56.5%;
  top: 70%;
  width: 524px;
  height: 304px;
  flex-shrink: 0;
}

.absolute-ad-img3 {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 524px;
  height: 304px;
  flex-shrink: 0;
}

.absolute-ad-img4  {
  position: absolute;
  top: 0%;
  left: 62%;
}

@media screen and (min-width: 1024px) {
  .faqs-select {
    display: none;
  }
  .faq-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .faq-questions {
    gap: 20px;
  }
  .question {
    gap: 20px;
    padding: 30px;
    border-radius: 14px;
    border: none;
    box-shadow: none;
    align-self: stretch;
  }

  .question-title h4 {
    font-size: 22px;
  }
  .question-answer {
    font-size: 16px;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  gap: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 32px 0px #0000000f;
}

.client-head {
  display: flex;
  gap: 15px;
  align-items: center;
}
.client-head p {
  font-size: 400;
  font-size: 22px;
}
.client-head p span {
  font-weight: 700;
}

.client-text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.client-subtext {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.client-subtext h5 {
  font-size: 16px;
  font-weight: 600;
}
.client-subtext span {
  font-size: 14px;
  font-weight: 400;
  color: #313030;
}
.client-section-sub {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .clients {
    margin-bottom: 60px;
    flex-direction: row;
  }

  .client-head p {
    font-size: 500;
    font-size: 22px;
  }
  .client-section-sub {
    font-size: 32px;
  }
}

.contact-container {
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  border-radius: 16px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contact-info h3 {
  font-size: 24px;
  font-weight: 700;
}
.contact-info span {
  font-size: 14px;
  font-weight: 400;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  border-radius: 6px;
  color: #313030;
  font-size: 18px;
}

.contact-form input::-webkit-outer-spin-button,
.contact-form ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-form input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.contact-form-checkbox {
  display: flex;
  gap: 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.contact-form-checkbox a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}
.contact-form button {
  background: #0092e5;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 6px;
}

@media screen and (min-width: 1024px) {
  .contact-container {
    flex-direction: row;
    align-items: center;
    padding: 60px 40px;
  }
  .contact-form {
    min-width: 400px;
  }
}

/* Footer */
.footer {
  background: #171717;
  color: #ffffff;
  padding: 30px 20px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 220px;
}

.footer-logo-img {
  width: 119px;
  height: 22px;
}

.footer-logo h4 {
  font-size: 14px;
  font-weight: 400;
}

.footer-social {
  display: flex;
  gap: 15px;
}
.footer-services {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-service,
.footer-service ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-services h4 {
  color: #0092e5;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.8px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.footer-services li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.footer-services li a {
  color: #ffffff;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright h5 {
  font-size: 14px;
  font-weight: 400;
}
.footer-copyright span {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 100px 80px 10px 80px;
  }
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-services {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.hidden {
  display: none;
}

.section iframe,.encryption-section iframe{
    width: 100%;
    height: 800px;
    border-radius: 18px;
}
@media screen and (max-width: 480px) {
    .section iframe,.encryption-section iframe{
        width: 100%;
        height: 500px;
    }
}